Options +SymLinksIfOwnerMatch
RewriteEngine On

# Allow Installatron requests
RewriteCond %{REQUEST_URI} ^/build/assets/
RewriteCond %{DOCUMENT_ROOT}/public%{REQUEST_URI} -f
RewriteRule ^build/assets/(.*)$ /public/build/assets/$1 [L]

RewriteCond %{REQUEST_FILENAME} deleteme\.\w+\.php

RewriteRule (.*) - [L]

RewriteRule ^ index.php [L]
